# transformers
# streamlit
# langchain
# PyPDF2
# torch
# torchvision
# torchaudio
# fpdf2
# openai
# pdfkit
# requests
# PyMuPDF
# spacy==3.8.2
# https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
# pytest
# pandas
# numpy
# seaborn
# matplotlib
# scikit-learn
# tqdm
# ipython
# jupyter
# streamlit-lottie
# huggingface_hub[hf_xet]
# easyocr
# pillow
# Core ML + NLP
# ===== CORE =====
streamlit
streamlit-lottie
requests
openai

# ===== DATA =====
pandas
numpy==1.26.4

# ===== PDF =====
PyMuPDF==1.23.26
fpdf2
pillow==10.3.0

# ===== NLP =====
spacy==3.7.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz

# ===== OCR =====
easyocr==1.7.1

# ===== ML =====
scikit-learn
transformers

# ===== UTIL =====
tqdm
pytest
