transformers
streamlit
langchain
PyPDF2
torch
torchvision
torchaudio
fpdf2
openai
pdfkit
requests
PyMuPDF
spacy==3.8.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
pytest
pandas
numpy
seaborn
matplotlib
scikit-learn
tqdm
ipython
jupyter
streamlit-lottie
huggingface_hub[hf_xet]
